.questions-list, .filter-list, .footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.care-section__button, .qna-section__button, .steps-section__button, .hero__button {
  min-width: 290px;
  padding: 17px 0;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  border: transparent;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 10px #cde1ff;
  color: #ffffff;
  background-color: #7872b9;
}
.care-section__button:hover, .qna-section__button:hover, .steps-section__button:hover, .hero__button:hover, .care-section__button:focus, .qna-section__button:focus, .steps-section__button:focus, .hero__button:focus {
  box-shadow: 5px 5px #cde1ff;
}
.care-section__button:active, .qna-section__button:active, .steps-section__button:active, .hero__button:active {
  box-shadow: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.01em;
  color: #4d4d52;
  background-color: #f9fcff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.burger-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
}

.burger-menu-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.burger-menu.is-open {
  transform: translateX(-130%);
  pointer-events: all;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 999;
  padding: 30px 25px 40px 30px;
  width: 280px;
  height: 100vh;
  transform: translateX(0);
  transition: transform 250ms linear;
  background-color: #ffffff;
}

.nav-list__item:not(:last-child) {
  margin-bottom: 15px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
}

.socials-list {
  display: flex;
  margin-top: auto;
}

.socials-list__item:not(:last-child) {
  margin-right: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}

.page-header {
  padding-top: 28px;
}

.header__container {
  display: flex;
}

.page-footer {
  padding: 40px 0;
}

.footer__logo {
  margin-bottom: 40px;
  display: block;
}

.footer-nav {
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-nav__item {
  flex-basis: calc((100% - 20px) / 2);
}

.footer-nav__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #7872b9;
}

.contacts-list {
  margin-bottom: 40px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list__title {
  margin-bottom: 5px;
}

.contacts-list__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 0;
  color: #7872b9;
}

.socials-list--mb40 {
  margin-bottom: 40px;
}

.info-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.info-list__link {
  color: inherit;
}

.hero {
  padding: 47px 0 40px;
  text-align: center;
}

.hero__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4166666667;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.hero__subtitle2 {
  margin-bottom: 36px;
}

.img-list {
  display: flex;
  margin-bottom: 12px;
}

.support-button {
  padding: 0;
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.online-psyho-section {
  text-align: center;
  padding-bottom: 45px;
}

.online-psyho-section__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #7872b9;
  margin-bottom: 30px;
}

.online-psyho-section__image {
  margin: 0 auto;
}

.online-psyho-section__headline {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.online-psyho-section__text {
  margin-bottom: 50px;
}

.filter-list {
  gap: 30px;
}

.filter-list__button {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #cde1ff;
}
.filter-list__button:active {
  background-color: #7872b9;
}

.support-section {
  text-align: center;
  padding-bottom: 40px;
}

.support-section__container {
  position: relative;
}

.support-section__sibtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 10px;
}

.support-section__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #7872b9;
  margin-bottom: 15px;
}

.support-section__text {
  width: 235px;
  margin: 0 auto 60px;
}

.support-section__icon {
  position: absolute;
  top: 139px;
  left: 225px;
}

.questions-list {
  flex-wrap: wrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 15px;
  margin-bottom: 40px;
}

.questions-list__button {
  padding: 9px 15px;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.02em;
  border: 1px solid #7872b9;
  border-radius: 40px;
  color: #7872b9;
  background-color: transparent;
}

.questions-list__button--accent-color {
  font-weight: 600;
  color: #ffffff;
  background-color: #7872b9;
}

.benefits-section {
  text-align: left;
  padding-bottom: 45px;
}

.benefits-section__container {
  position: relative;
}

.benefits-section__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 10px;
}

.benefits-section__title {
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: 0.02em;
  color: #7872b9;
  margin-bottom: 21px;
}

.benefits-section__icon {
  position: absolute;
  top: 100px;
  left: 161px;
}

.benefits-section__text {
  font-size: 13px;
  line-height: 1.3846153846;
  margin-bottom: 40px;
}

.content-thumb {
  padding: 30px 20px;
  margin-bottom: 20px;
  text-align: center;
}

.content-thumb__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3888888889;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.content-thumb__text {
  margin-bottom: 0;
}

.steps-section {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
}

.steps-section__title {
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  color: #7872b9;
}

.steps-list__item:not(:last-child) {
  margin-bottom: 50px;
}

.steps-list__icon {
  margin-bottom: 30px;
}

.steps-list__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 8px;
}

.steps-list__text {
  margin-bottom: 51px;
}

.steps-section__icon {
  margin-bottom: 15px;
}

.steps-section__remind-text {
  width: 215px;
  margin: 0 auto 40px;
}

.steps-section__button {
  margin-bottom: 60px;
}

.qna-section {
  text-align: left;
  padding-bottom: 50px;
}

.qna-section__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: 0.02em;
  color: #7872b9;
  margin-bottom: 40px;
  text-align: center;
}

.qna-list__item {
  position: relative;
  padding: 20px;
}

.qna-list__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  display: inline-block;
  width: 190px;
  margin: 0;
}

.qna-list__title--mb8 {
  margin-bottom: 8px;
}

.qna-list__icon {
  position: absolute;
  top: 27px;
  right: 20px;
}

.qna-list__icon--top20 {
  top: 20px;
}

.qna-section__button {
  margin-bottom: 0;
}

.care-section {
  text-align: left;
  padding-bottom: 50px;
  padding-top: 40px;
}

.care-section__container {
  position: relative;
}

.care-section__title {
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: 0.02em;
  color: #7872b9;
  margin-bottom: 10px;
}

.care-section__text {
  margin-bottom: 36px;
  font-weight: 500;
}

.care-list {
  margin-bottom: 387px;
}

.care-list__item {
  display: flex;
  gap: 20px;
}
.care-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.care-list__icon {
  margin-top: 5px;
}

.care-list__text {
  width: 260px;
  margin-bottom: 0;
}

.example-img-list__item {
  position: absolute;
  top: 437px;
  left: 65px;
}

.example-img-list__item--right {
  position: absolute;
  top: 477px;
  left: 170px;
}

.care-section__button {
  margin-bottom: 60px;
}

.extra-help-section {
  text-align: left;
  padding-bottom: 50px;
  padding-top: 20px;
}

.extra-help-section__conteiner {
  position: relative;
}

.extra-help-section__icon {
  position: absolute;
  top: -20px;
  right: 50px;
}

.extra-help-section__thumb {
  padding: 20px;
  padding-bottom: 50px;
}

.extra-help-section__title {
  font-size: 18px;
  line-height: 1.2777777778;
  letter-spacing: 0.02em;
  color: #7872b9;
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}

.extra-help-section__text {
  margin-bottom: 30px;
}

.extra-help-section__span {
  font-weight: 600;
}

.help-numbers-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.help-numbers-list__number {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}

.help-numbers-list__text {
  margin-bottom: 0;
}/*# sourceMappingURL=main.css.map */